.card-placeholder {
	background: red;
}
.column {
	border: 1px solid red;
	height: 500px;
}

button {
	margin: 5px;
	font-size: 16px;
	background-color: #79a7f2;
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px;
}
ul li {
	list-style-type: none;
}

